/* /* public/css/styles.css */

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
}

h1,
h2,
table {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.btn-container {
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    margin-right: 10px;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

/* Styles for create and edit pages */
form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    display: inline-block;
    margin-right: 10px;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

button:hover {
    background-color: #4545a0;
}
.btn-danger {
    background-color: #ff4d4d;
    color: white;
}

.btn-danger:hover {
    background-color: #cc0000;
}
